/* ---  STYLES CSS  --- 
  ****
  ****
______________________________*/

/* 
  //
  ***  VARIABLES  ***
  __________
*/
:root {
  /* colors */
  --black:    #1a1c18;
  --black-50: #1a1c1899;
  --green:    #3c4433;
  --white:    #fff;
  --beige:    #f2f2ef;
  --white-50: #ffffff99;
  --d_beige:  #e8e8e1;

  /* font & typography */
  --inter: 'Inter', sans-serif;
  --geist: 'Geist', sans-serif;
  --sentient: 'Sentient', serif;
}



.main {margin-top: 72px;}

/* 
  //
  ***  SECTION HERO  ***
  __________
*/
.hero-section {
  position: relative;
}

.slide {
  position: relative;
}

.slide-img {
  height: calc(100vh - 72px);
  width: 100%;
  animation: imgUpload 1s ease;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.back-ground {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom, #fff, #1a1c1850
    );
  mix-blend-mode: multiply;
}

.slide-content {
  position: absolute;
  z-index: 999999;
  bottom: 70px;
  left: 0;
  width: 100%;
  padding: 0 16px 0px;
  color: var(--white);
  animation: contentUpload 1s ease;
}

.slide-content h2 {
  font-family: var(--sentient);
  font-style: italic;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 3.6rem;
  margin-bottom: 10px;
  width: fit-content;
}

.slide-content p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-bottom: 20px;
  width: fit-content;
  max-width: 350px;
}

.slide-content button {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  padding: 12px 20px;
  color: var(--white);
  border: 1px solid var(--white);
}

.slide-toggle {
  position: absolute;
  z-index: 9999;
  bottom: 0;
  height: calc(50% + 20.5px);
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toggle-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-btns {
  display: grid;
  place-items: center;
  height: 70px;
}

.toggle-btns >div {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  width: fit-content;
  background-color: var(--black-50);
  border-radius: 10px;
}

.toggle-arrows button {
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border: 1px solid var(--white);
  background-color: var(--black-50);
}

.toggle-arrows button svg {
  color: var(--white-50);
}

.toggle-btns button {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: var(--white-50);
  transition: .25s ease;
  cursor: pointer;
}

/* animation */
@keyframes contentUpload {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes imgUpload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* slide active */
button.slide-active {
  width: 20px;
  background-color: var(--white);
}



@media screen and (min-width: 810px) {
  .slide-content {
    padding: 0 32px 0px;
  }

  .slide-content h2 {
    font-size: 4.2rem;
    line-height: 4.6rem;
  }

  .slide-content p {
    margin-bottom: 30px;
  }

  .slide-toggle {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .slide-content h2 {
    font-size: 5.6rem;
    line-height: 6rem;
  }
}



/* 
  //
  ***  SECTION CATALOGUE  ***
  __________
*/
.catalog-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 200px 16px;
}

.catalog-intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 20px;
  max-width: 500px;
}

.catalog-intro a {
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 20px;
}

.catalog-intro a::after {
  content: "";
  height: 6px;
  width: 6px;
  background-color: var(--black);
  transition: .25s ease;
}

.catalog-intro a:hover::after {
  transform: scale(1.5);
}


.catalog-intro h3 {
  font-family: var(--sentient);
  font-style: italic;
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 400;
}

.category-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.category-list button {
  padding: 8px 10px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;
  background-color: var(--d_beige);
  transition: .25s ease;
}

.category-list button:hover {
  background-color: #d5d5d0;
}

/* category active */
button.category-active {
  color: var(--white);
  background-color: var(--green);
}

button.category-active:hover {
  background-color: #5f6c4e;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.product-card {
  position: relative;
  background-color: var(--d_beige);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.pdt-img {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;

  & img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.add-to-cart {
  position: absolute;
  right: 16px;
  bottom: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  line-height: 3.84rem;
  text-transform: capitalize;
  width: 166.4px;
  background-color: var(--beige);
  border: 1px solid var(--black-50);
  transition: .25s ease;
}

.add-to-cart span {
  display: grid;
  place-items: center;
  transition: .25s ease;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.product-info h4 {
  font-family: var(--sentient);
  font-style: italic;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
}


@media screen and (min-width: 810px) {
  .catalog-intro {
    max-width: 600px;
  }

  .catalog-intro h3 {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .add-to-cart {
    opacity: 0;
    visibility: hidden;
    transition: .25s ease;
  }
  
  .add-to-cart:hover {
    border-color: var(--black);

    & span {
      transform: rotate(90deg);
    }
  }

  .product-card:hover .add-to-cart {opacity: 1; visibility: visible;}

  .catalog-section {padding: 200px 32px;}
  .product-grid {grid-template-columns: repeat(3, 1fr);}
}


@media screen and (min-width: 1200px) {
  .product-grid {grid-template-columns: repeat(4, 1fr);}

  .catalog-intro {
    max-width: 750px;
  }
}




/* 
  //
  ***  SECTION PROMISE  ***
  __________
*/
.promise-section {
  padding: 0 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.promise-section h2 {
  font-family: var(--sentient);
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

.promotion-list {
  display: grid;
  grid-template-columns: 1fr;
}

.promotion-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 64px 32px;
  border-top: 1.5px solid var(--d_beige);
}

.promotion-list li h3 {
  font-size: 1.6rem;
  font-weight: 500;
}

.promotion-list li p {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 810px) {
  .promotion-list {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .promotion-list li {
    border-top: 1.5px solid var(--d_beige);
    border-right: 1.5px solid var(--d_beige);
  }
}

@media screen and (min-width: 810px) {
  .promotion-list {
    grid-template-columns: repeat(4, 1fr);
  }
}




/* 
  //
  ***  SECTION CONTACT  ***
  __________
*/
.contact-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section div {
  height: 570px;
  width: 100%;
  overflow: hidden;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  color: var(--white);
}

.contact h3 {
  font-family: var(--sentient);
  font-size: 2.8rem;
  font-weight: 500;
  font-style: italic;
}

.contact p {
  font-size: 1.4rem;
  max-width: 400px;
  text-align: center;
}

.contact button {
  padding: 10px 12px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 4px;
  background-color: #ffffff6b;
}

@media screen and (min-width: 810px) {
  .contact h3 {
    font-family: var(--sentient);
    font-size: 3.6rem;
  }

  .contact p {
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 500px;
    text-align: center;
  }
}