/* ---  STYLES CSS  --- 
  ****
  ****
______________________________*/

/* 
  //
  ***  VARIABLES  ***
  __________
*/
:root {
  /* colors */
  --black:    #1a1c18;
  --black-50: #1a1c1899;
  --green:    #3c4433;
  --white:    #fff;
  --beige:    #f2f2ef;
  --white-50: #ffffff99;
  --d_beige:  #e8e8e1;

  /* font & typography */
  --inter: 'Inter', sans-serif;
  --geist: 'Geist', sans-serif;
  --sentient: 'Sentient', serif;
}



/* 
  //
  ***  RESET  ***
  __________
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--geist);
  font-size: 10px;
  color: var(--black);
  scroll-behavior: smooth;
}

body {background-color: var(--beige);}

a, button {
  all: unset;
  cursor: pointer;
}

li {list-style: none;}


/* 
  //
  ***  REUSABLE CLASSES  ***
  __________
*/
.d-n {display: none;}



/* 
  //
  ***  HEADER  ***
  __________
*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999999;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;
  position: relative;
  background-color: var(--white);
}

.logo {
  font-family: var(--inter);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: -.01rem;
  text-transform: uppercase;
}

.nav-list {
  position: absolute;
  top: 72px;
  left: 0;
  padding: 24px 16px 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--white);
  border-bottom: 1px solid var(--d_beige);
  transition: .25s ease;
}




.nav-link a {
  display: flex;
  flex-direction: column;
  gap: 0;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: -.1rem;
  font-weight: 500;
  transition: .25s ease;
}

.nav-link:not(.nav-link:nth-of-type(1)) {
  height: 32px;
  overflow: hidden;
}

.shop-drop-btn {
  height: 32px;
  overflow: hidden;
  width: 100%;
  transition: .25s ease;
}

.sub-menu-dropdown .nav-action {
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: .25s ease;
}

.shop-drop-btn >div div {
  font-size: 2.3rem;
  line-height: 3.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 100%;
}

.shop-drop-btn svg {
  transition: .25s ease;
}



.sub-menu {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: .25s ease;
}

.sub-menu li a {
  font-size: 1.8rem;
}


/* hide nav-list */
.hide-nav-list {
  height: 0;
  padding: 0;
  overflow: hidden;
}



/* close sub-menu */
.hide-sub-menu .sub-menu {
  height: 0;
  padding: 0 12px;
  overflow: hidden;
}

.hide-sub-menu button svg {
  transform: rotate(180deg);
  transition: .25s ease;
}





.user-controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-item {
  height: 20px;
  overflow: hidden;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}


.user-item a,
.user-item button {
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: .25s ease;
}

.cart >div {
  display: flex;
  align-items: center;
  gap: 2px;
}

/* .user-item:hover .user-action {transform: translateY(-20px);} */


.menu-btn {
  height: 32px;
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: relative;
}

.menu-btn .line {
  height: 2px;
  width: 20px;
  background-color: var(--black);
  transition: .25s ease;
}

/* close menu actions */
.close-menu .line {position: absolute;} 
.close-menu .one {transform: rotate(45deg)}
.close-menu .two {transform: rotate(-45deg)}


@media screen and (min-width: 810px) {
  .menu-btn {display: none;}
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 25px 32px;
  }

  .sub-menu {
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    padding: 16px 32px;
    background-color: var(--white);
    border-bottom: 1px solid var(--d_beige);
  }

  .sub-menu li a {font-size: 1.5rem;}


  .nav-list {
    padding: 0;
    border-bottom: none;
    position: static;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    height: fit-content;
    width: fit-content;
  }
  
  .nav-list li:not(.nav-link:nth-of-type(1)) {
    height: 20px;
    overflow: hidden;
  }

  .nav-list a {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0;
  }

  .sub-menu-dropdown button svg {width: 18px;}
  
  .nav-link:not(:first-child):hover .nav-action {transform: translateY(-20px);}

  .shop-drop-btn {
    height: 2rem;
    display: flex;
    align-items: start;
    gap: 6px;
  }
  
  .shop-drop-btn >div div {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0;
  }




  .logo {
    display: grid;
    place-items: center;
  }

  .user-controls {
    justify-content: end;
  }


  .shop-drop-btn:hover .nav-action {transform: translateY(-20px);}
  .user-item:hover .user-action {transform: translateY(-20px);}
}




/* 
  //
  ***  MAIN  ***
  __________
*/

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.product-card {
  position: relative;
  background-color: var(--d_beige);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.pdt-img {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;

  & img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.add-to-cart {
  position: absolute;
  right: 16px;
  bottom: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  line-height: 3.84rem;
  text-transform: capitalize;
  width: 166.4px;
  background-color: var(--beige);
  border: 1px solid var(--black-50);
  transition: .25s ease;
}

.add-to-cart span {
  display: grid;
  place-items: center;
  transition: .25s ease;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.product-info h4 {
  font-family: var(--sentient);
  font-style: italic;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
}



@media screen and (min-width: 810px) {

  .add-to-cart {
    opacity: 0;
    visibility: hidden;
    transition: .25s ease;
  }
  
  .add-to-cart:hover {
    border-color: var(--black);

    & span {
      transform: rotate(90deg);
    }
  }

  .product-card:hover .add-to-cart {opacity: 1; visibility: visible;}

  .product-grid {grid-template-columns: repeat(3, 1fr);}
}


@media screen and (min-width: 1200px) {
  .product-grid {grid-template-columns: repeat(4, 1fr);}

}



/* 
  //
  ***  FOOTER  ***
  __________
*/
.footer {
  background-color: var(--black);
  padding: 64px 16px 42px;
  display: grid;
  gap: 64px;
  grid-template-columns: 1fr;
  color: var(--white);
  text-align: center;
}

.about-brand {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.about-brand >div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.about-brand >div:nth-of-type(1) h4 {
  font-size: 2.2rem;
  font-family: var(--sentient);
  font-style: italic;
  font-weight: 400;
}

.about-brand >div:nth-of-type(1) p {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--white-50);
  max-width: 400px;
}

.about-brand >div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.social, .payement {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social a svg {
  fill: var(--white);
}

.payement a svg {
  fill: var(--white);
  height: 44px;
  width: fit-content;
}

.about-brand >div:nth-of-type(3) {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white-50);

  & a {
    text-decoration: underline;
    color: var(--white);
  }
}


.footer-nav-list {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 48px;
  color: var(--white-50);
}

.footer-nav-list >li {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-nav-list >li h4 {
  font-family: var(--sentient);
  font-size: 1.8rem;
  font-weight: 400;
  font-style: italic;
  color: var(--white);
}

.footer-nav-list >li ul {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-nav-list >li ul li {
  height: 25px;
  line-height: 2.5rem;
  font-weight: 300;
  overflow: hidden;
}

.footer-nav-list >li ul li a {
  display: flex;
  flex-direction: column;
  transition: .25s ease;
}

.footer-nav-list >li ul li a>span:nth-of-type(2) {
  color: var(--white);
}

.footer-nav-list >li ul li:hover .footer-nav-link  {  
  transform: translateY(-25px);
}


@media screen and (min-width: 810px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    text-align: start;
    padding: 64px 32px;
  }

  
  .about-brand >div:nth-of-type(1) {
    align-items: start;
    gap: 12px;
  }
  
  .about-brand >div:nth-of-type(2) {
    align-items: start;
    gap: 16px;
  }
  
  .about-brand >div:nth-of-type(3) {
    padding-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    grid-template-columns: 2fr 3fr;
    gap: 96px;
  }

  .footer-nav-list {
    grid-template-columns: repeat(3, 1fr);
    text-align: start;
    gap: 48px;
  }
}